# Local Terraform state
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Local secrets and keys
bastion_key.pem

# OS files
*.log
*.tmp.terraform
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
terraform.tfvars.json
bastion_key.pem
plan.out
